<b>API</b> - An API is a program that takes in some data and gives back some other data, usually after processing it.

For example, Twitter Search. Twitter search accepts data (the search parameters), processes it (finds the tweets that match those parameters), and sends data back (the tweets themselves).

<b>Flask - </b> is a library that works without Python installation and it si going to create a REST API.

pip install flask

While giving this command on the command prompt, we find the below libraries gets installed:
- Falsk
- werkzeug
- itsdangerous
- click
- jinja2
- MarkupSafe

In [1]:
#Flask is a Class and flask is a package
from flask import Flask

In [3]:
app = Flask(__name__) # this gives each file an unique name

In [11]:
#This represents the home page of the website with a forward slash. ie 'http://www.google.com/'
@app.route('/')
def home():
    return "Hello World!"

In [13]:
app.run(port=5000) # port is the area of the Computer, where app is going to reciev your request and return your respenses through.

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [14]:
#If we open http://127.0.0.1:5000/, it gives the output "Hello World!"

#### HTTP Verbs

A web server - is a piece of software designed to accept the incoming web requests

For example, when you visit a google home page, http://www.google.com, you send the following exactly:
- GET/ HTTP/1.1
- Host: www.google.com


GET/ HTTP/1.1 is called the get request.Hre GET is the verb. '/' the slash is the path. HTTP is the protocol
This is what all the server sees.

The server sees that and then there's a code
- Suppose, if there is no '/' it throws an error
- If HTTP is not supported, then throws an error
- If server is unavailable, then it may throw an error
- it may give the HTML code back formally
- It may give you some text back
- it may give you nothing back

So, going to any page in our browser will do the same and checks for the above requirement.
There will be only one difference seen. It is what the server on the other end responds with

- Twitter responds with the Twitter HTML
- git-scm responds with git-scm HTML
- Google responds with the google HTML

Going to a page will always do a GET. But there are many other things we can do, such as POST, DELETE, PUT, OPTIONS, HEAD and much more

- GET (means retrieve something) eg: GET/item/1
- POST (means Receive data and use it) eg: POST/item     ie {'name':'Lal', 'color': 'Orange'}
- PUT (Make sure something is there) eg: PUT/item
- DELETE(Remove something) eg: DELETE/ item/1

## Rest Principles

It is a way of thinking about how a web server responds to your requests. It doesn't respond just with data. It responds with resources.Now think of the server as having resources, and each is able to interact with the pertinent request.

#### Stateless
- Another key feature is that REST is supposed to be stateless
- This means one request cannot depend on any other request

Lets see an example for this.

In [ ]:
#For example:
POST /item/chair #creates an item
#The server does not know whether the item now exists

GET /Item/chair # goes to the database and checks to see if the item is there
#To get an item, we do not need to have created an item before- the item could be in the database from previously defined

Another example:

- A user logs in to a web application
- The web server does not know the user is logged in (since it does not remember any state)
- What do we do now? The web application must send enough data to identify the user in every request, or else server wont
associate the request with the user

#### Creating our application endpoints

In [16]:
#Let us simulate an online store using flask
from flask import Flask
app = Flask(__name__)

#POST - used to receive the data
#GET - used to send data back only

#Steps followed:
"""
POST - /store data: {name:}   ----> This is going create a new store with the name given
GET - /store/<string:name>  ----> This is going to get the store for the given name
GET - /store --> Return the list of all the stores
POST - /store/<string:name>/item {name:, Price:}  ---> This is going to create an item inside the store with its specific name
GET - /store/<string:name>/item ----> this is going to get the created item inside the store
"""

'\nPOST - /store data: {name:}   ----> This is going create a new store with the name given\nGET - /store/<string:name>  ----> This is going to get the store for the given name\nGET - /store --> Return the list of all the stores\nPOST - /store/<string:name>/item {name:, Price:}  ---> This is going to create an item inside the store with its specific name\nGET - /store/<string:name>/item ----> this is going to get the created item inside the store\n'

In [17]:
#Let us simulate an online store using flask
from flask import Flask
app = Flask(__name__)

#POST - used to receive the data
#GET - used to send data back only

#Steps followed:
"""
POST - /store data: {name:}   ----> This is going create a new store with the name given
GET - /store/<string:name>  ----> This is going to get the store for the given name
GET - /store --> Return the list of all the stores
POST - /store/<string:name>/item {name:, Price:}  ---> This is going to create an item inside the store with its specific name
GET - /store/<string:name>/item ----> this is going to get the created item inside the store


Now lets code the above 5 steps
"""

#The below is a JSON data which is like a key-value pairs just like a dictionary is and 
#it is usually useful to send data from one application to another. But JSON is a text. Its a elonged string.

stores=[
{
    'name': 'My Store',
    'items':[
        {'name': 'My Items',
         'price': 10
        }
    ]
}
]

#POST - /store data: {name:}
@app.route('/store', methods=['POST'])  #---> creating an end point as '/store' while accessing the website
def create_store():
    pass

#GET - /store/<string:name>
@app.route('/store/<string:name>') #http://www.outlet.com/store/name
def get_store(name):
    pass

#GET - /store
@app.route('/store')
def get_store_list():
    pass

#POST - /store/<string:name>/item {name:, Price:}
@app.route('/store/<string:name>/item', methods=['POST'])  #---> creating an end point as '/store' while accessing the website
def create_items_in_store(name):
    pass

#GET - /store/<string:name>/item
@app.route('/store/<string:name>/item') #http://www.outlet.com/store/name
def get_items_in_store(name):
    pass

app.run(port=4999)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4999/ (Press CTRL+C to quit)

In [ ]:
#jsonify is a class. It takes the dictionary and converts it to a string. Please see get_store_list() method
from flask import Flask, jsonify
app = Flask(__name__)

stores=[
{
    'name': 'My Store',
    'items':[
        {'name': 'My Items',
         'price': 10
        }
    ]
}
]

#POST - /store data: {name:}
@app.route('/store', methods=['POST'])  #---> creating an end point as '/store' while accessing the website
def create_store():
    pass

#GET - /store/<string:name>
@app.route('/store/<string:name>') #http://www.outlet.com/store/name
def get_store(name):
    pass

#GET - /store
@app.route('/store')
def get_store_list():
    return jsonify({'stores':stores})

#POST - /store/<string:name>/item {name:, Price:}
@app.route('/store/<string:name>/item', methods=['POST'])  #---> creating an end point as '/store' while accessing the website
def create_items_in_store(name):
    pass

#GET - /store/<string:name>/item
@app.route('/store/<string:name>/item') #http://www.outlet.com/store/name
def get_items_in_store(name):
    pass

app.run(port=4999)

#if the run this, we could see http://127.0.0.1:4999/store returns the store Json information declared above.
#Thus we have implemented the endpoints successfully

In [ ]:
#We add request to get the data from the flask. Please see create_store() method
from flask import Flask, jsonify, request
app = Flask(__name__)

stores=[
{
    'name': 'My Store',
    'items':[
        {'name': 'My Items',
         'price': 10
        }
    ]
}
]

#POST - /store data: {name:}
@app.route('/store', methods=['POST'])  
def create_store():
    request_data = request.get_json() 
    new_store = {
        'name': request_data['name'],
        'items': []
    }
    stores.append(new_store)
    return jsonify(new_store)

#GET - /store/<string:name>
@app.route('/store/<string:name>') 
def get_store(name):
    #iterate over the stores
    for store in stores:
        if store['name'] == name:
            return jsonify(stores)
        return jsonify({'message': 'store not found'})
    #if the store namematches, return it
    #if non match, return an error message
    

#GET - /store
@app.route('/store')
def get_store_list():
    return jsonify({'stores':stores})

#POST - /store/<string:name>/item {name:, Price:}
@app.route('/store/<string:name>/item', methods=['POST'])  
def create_items_in_store(name):
    for store in stores:
        if store['name'] == name:
            new_item = {
                'name': request_data['name'],
                'price': request_data['price']
            }
            store['items'].append(new_item)
            return jsonify(new_item)

#GET - /store/<string:name>/item
@app.route('/store/<string:name>/item') 
def get_items_in_store(name):
    pass

app.run(port=4999)

## SQLAlchemy

SQLAlchemy is a popular SQL toolkit and Object Relational Mapper. It is written in Python and gives full power and flexibility of SQL to an application developer. It is an open source and cross-platform software released under MIT license.

SQLAlchemy is famous for its object-relational mapper (ORM), using which, classes can be mapped to the database, thereby allowing the object model and database schema to develop in a cleanly decoupled way from the beginning.

ORM:

ORM (Object Relational Mapping) is a programming technique for converting data between incompatible type systems in object-oriented programming languages. Usually, the type system used in an Object Oriented (OO) language like Python contains non-scalar types. These cannot be expressed as primitive types such as integers and strings. Hence, the OO programmer has to convert objects in scalar data to interact with backend database. However, data types in most of the database products such as Oracle, MySQL, etc., are primary.

In an ORM system, each class maps to a table in the underlying database. Instead of writing tedious database interfacing code yourself, an ORM takes care of these issues for you while you can focus on programming the logics of the system.

In [7]:
import sqlalchemy
sqlalchemy.__version__

'1.3.9'

The SQL Expression Language presents a system of representing relational database structures and expressions using Python constructs. It presents a system of representing the primitive constructs of the relational database directly without opinion, which is in contrast to ORM that presents a high level and abstracted pattern of usage, which itself is an example of applied usage of the Expression Language.

Expression Language is one of the core components of SQLAlchemy. It allows the programmer to specify SQL statements in Python code and use it directly in more complex queries. Expression language is independent of backend and comprehensively covers every aspect of raw SQL. It is closer to raw SQL than any other component in SQLAlchemy.

In [ ]:
#Just tried using Flask
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
app = Flask(__name__)

app.config["SQLALCHEMY_TRACK_MODIFICATIONS"] = False
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///edb.sqlite3"
db = SQLAlchemy(app)


class User(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(50))
    location = db.Column(db.String(50))
    date_created = db.Column(db.Datetime, default = datetime.now)


@app.route('/<name>/<location>')
def index(name, location):
    user=User(name=name, location = location)
    db.session.add(User)
    db.session.commit()

    return '<h1> Added the User!<!h1>'
    
@app.route('/<name>')
def get_user(name):
    user=User.query.filter_by(name=name).first

Engine class connects a Pool and Dialect together to provide a source of database connectivity and behavior. An object of Engine class is instantiated using the create_engine() function.

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///college.db', echo = True)

In [ ]:
#For a MySQL database, use the below command 
engine = create_engine("mysql://user:pwd@localhost/college",echo = True)
#To specifically mention DB-API to be used for connection, the URL string takes the form as follows −
dialect[+driver]://user:password@host/dbname

In [10]:
from sqlalchemy import MetaData
meta = MetaData()

Hence an object of MetaData class from SQLAlchemy Metadata is a collection of Table objects and their associated schema constructs. It holds a collection of Table objects as well as an optional binding to an Engine or Connection.

SQLAlchemy matches Python data to the best possible generic column data types defined in it. Some of the generic data types are −

BigInteger,
Boolean,
Date,
DateT,ime
Float,
Integer,
Numeric,
SmallInteger,
String,
Text,
Time

In [11]:
#To create a students table in college database, use the following snippet
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

The create_all() function uses the engine object to create all the defined table objects and stores the information in metadata.

In [12]:
meta.create_all(engine)

2020-02-02 23:40:53,941 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:40:53,953 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:40:53,958 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:40:53,963 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:40:53,968 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2020-02-02 23:40:53,972 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:40:53,980 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("students")
2020-02-02 23:40:53,987 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:40:53,994 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2020-02-02 23:40:54,000 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:40:54,017 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
#Complete code is given below which will create a SQLite database college.db with a students table in it.
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

2020-02-02 23:41:08,191 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:41:08,196 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:41:08,202 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:41:08,204 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:41:08,209 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2020-02-02 23:41:08,211 INFO sqlalchemy.engine.base.Engine ()

Because echo attribute of create_engine() function is set to True, the console will display the actual SQL query for table creation as follows −

SQL expressions are constructed using corresponding methods relative to target table object. For example, the INSERT statement is created by executing insert() method as follows −

In [16]:
ins = students.insert()

In [17]:
'INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)'

'INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)'

In [ ]:
ins = users.insert().values(name = 'Lal')
str(ins)

#The SQL echoed on Python console doesn’t show the actual value (‘Lal’ in this case). Instead, SQLALchemy generates a bind parameter which is visible in compiled form of the statement.
ins.compile().params

In order to execute the resulting SQL expressions, we have to obtain a connection object representing an actively checked out DBAPI connection resource and then feed the expression object as shown in the code below.

In [21]:
conn = engine.connect()

In [22]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

2020-02-02 23:47:28,469 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2020-02-02 23:47:28,476 INFO sqlalchemy.engine.base.Engine ('Ravi', 'Kapoor')
2020-02-02 23:47:28,489 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
conn = engine.connect()
result = conn.execute(ins)

2020-02-02 23:47:36,006 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:47:36,010 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:47:36,011 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:47:36,017 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:47:36,022 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2020-02-02 23:47:36,027 INFO sqlalchemy.engine.base.Engine ('Ravi', 'Kapoor')
2020-02-02 23:47:36,286 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
result.inserted_primary_key

[2]

In [26]:
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2020-02-02 23:48:12,674 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2020-02-02 23:48:12,677 INFO sqlalchemy.engine.base.Engine (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2020-02-02 23:48:12,685 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
#The select() method of table object enables us to construct SELECT expression.

s = students.select()

In [28]:
result = conn.execute(s)

2020-02-02 23:49:10,357 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
2020-02-02 23:49:10,366 INFO sqlalchemy.engine.base.Engine ()

In [29]:
#The resultant variable is an equivalent of cursor in DBAPI. We can now fetch records using fetchone() method.
row = result.fetchone()

In [30]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

s = students.select()
conn = engine.connect()
result = conn.execute(s)

for row in result:
   print (row)

2020-02-02 23:49:50,423 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:49:50,425 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:49:50,430 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:49:50,434 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:49:50,439 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
2020-02-02 23:49:50,444 INFO sqlalchemy.engine.base.Engine ()
(1, 'Ravi', 'Kapoor')
(2, 'Ravi', 'Kapoor')
(3, 'Rajiv', 'Khanna')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')

In [31]:
s = students.select().where(students.c.id>2)
result = conn.execute(s)

for row in result:
    print (row)
    
    
#Here c attribute is an alias for column. Following output will be displayed on the shell −

2020-02-02 23:50:30,036 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id > ?
2020-02-02 23:50:30,043 INFO sqlalchemy.engine.base.Engine (2,)
(3, 'Rajiv', 'Khanna')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')

Here, we have to note that select object can also be obtained by select() function in sqlalchemy.sql module. The select() function requires the table object as argument.

In [ ]:
from sqlalchemy.sql import select
s = select([users])
result = conn.execute(s)

SQLAlchemy lets you just use strings, for those cases when the SQL is already known and there isn’t a strong need for the statement to support dynamic features. The text() construct is used to compose a textual statement that is passed to the database mostly unchanged.


The advantages text() provides over a plain string are −

- backend-neutral support for bind parameters
- per-statement execution options
- result-column typing behaviour

In [33]:
from sqlalchemy.sql import text
s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn.execute(s, x = 'A', y = 'L').fetchall()

2020-02-02 23:52:36,237 INFO sqlalchemy.engine.base.Engine select students.name, students.lastname from students where students.name between ? and ?
2020-02-02 23:52:36,242 INFO sqlalchemy.engine.base.Engine ('A', 'L')

[('Komal', 'Bhandari'), ('Abdul', 'Sattar')]

In [ ]:
stmt = text("SELECT * FROM students WHERE students.name BETWEEN :x AND :y")

stmt = stmt.bindparams(
   bindparam("x", type_= String), 
   bindparam("y", type_= String)
)

result = conn.execute(stmt, {"x": "A", "y": "L"})

#The text() function also be produces fragments of SQL within a select() object that 
#accepts text() objects as an arguments. The “geometry” of the statement is provided by 
#select() construct , and the textual content by text() construct. We can build a statement 
#without the need to refer to any pre-established Table metadata. 

from sqlalchemy.sql import select
s = select([text("students.name, students.lastname from students")]).where(text("students.name between :x and :y"))
conn.execute(s, x = 'A', y = 'L').fetchall()

In [36]:
from sqlalchemy import and_
from sqlalchemy.sql import select
s = select([text("* from students")]) \
.where(
   and_(
      text("students.name between :x and :y"),
      text("students.id>2")
   )
)
conn.execute(s, x = 'A', y = 'L').fetchall()

2020-02-02 23:53:44,572 INFO sqlalchemy.engine.base.Engine SELECT * from students
WHERE students.name between ? and ? AND students.id>2
2020-02-02 23:53:44,577 INFO sqlalchemy.engine.base.Engine ('A', 'L')

[(4, 'Komal', 'Bhandari'), (5, 'Abdul', 'Sattar')]

In SQLAlchemy, any Table, select() construct, or other selectable object can be turned into an alias using the From Clause.alias() method, which produces an Alias construct. The alias() function in sqlalchemy.sql module represents an alias, as typically applied to any table or sub-select within a SQL statement using the AS keyword.

In [37]:
from sqlalchemy.sql import alias
st = students.alias("a")

In [38]:
s = select([st]).where(st.c.id>2)

In [39]:
from sqlalchemy.sql import alias, select
st = students.alias("a")
s = select([st]).where(st.c.id > 2)
conn.execute(s).fetchall()

2020-02-02 23:54:40,147 INFO sqlalchemy.engine.base.Engine SELECT a.id, a.name, a.lastname
FROM students AS a
WHERE a.id > ?
2020-02-02 23:54:40,151 INFO sqlalchemy.engine.base.Engine (2,)

[(3, 'Rajiv', 'Khanna'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans')]

The update() method on target table object constructs equivalent UPDATE SQL expression.

table.update().where(conditions).values(SET expressions)

In [40]:
stmt = students.update().where(students.c.lastname == 'Khanna').values(lastname = 'Kapoor')

In [43]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', 
   meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt=students.update().where(students.c.lastname=='Khanna').values(lastname='Kapoor')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2020-02-02 23:56:48,657 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:56:48,660 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:56:48,665 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:56:48,668 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:56:48,674 INFO sqlalchemy.engine.base.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2020-02-02 23:56:48,679 INFO sqlalchemy.engine.base.Engine ('Kapoor', 'Khanna')
2020-02-02 23:56:48,685 INFO sqlalchemy.engine.base.Engine COMMIT
2020-02-02 23:56:48,691 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
2020-02-02 23:56:48,699 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Ravi', 'Kapoor'),
 (2, 'Ravi', 'Kapoor'),
 (3, 'Rajiv', 'Kapoor'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans')]

In [44]:
from sqlalchemy.sql.expression import update
stmt = update(students).where(students.c.lastname == 'Khanna').values(lastname = 'Kapoor')

The delete operation can be achieved by running delete() method on target table object as given in the following statement −

stmt = students.delete()

In [45]:
stmt = students.delete().where(students.c.id > 2)

In [46]:
from sqlalchemy.sql.expression import update
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt = students.delete().where(students.c.lastname == 'Khanna')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2020-02-02 23:57:24,997 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:57:24,999 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:57:25,007 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:57:25,014 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:57:25,023 INFO sqlalchemy.engine.base.Engine DELETE FROM students WHERE students.lastname = ?
2020-02-02 23:57:25,026 INFO sqlalchemy.engine.base.Engine ('Khanna',)
2020-02-02 23:57:25,030 INFO sqlalchemy.engine.base.Engine COMMIT
2020-02-02 23:57:25,039 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
2020-02-02 23:57:25,045 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Ravi', 'Kapoor'),
 (2, 'Ravi', 'Kapoor'),
 (3, 'Rajiv', 'Kapoor'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans')]

In [47]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo=True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

meta.create_all(engine)

2020-02-02 23:58:09,062 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:58:09,063 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:09,068 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:58:09,072 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:09,072 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2020-02-02 23:58:09,077 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:09,083 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("addresses")
2020-02-02 23:58:09,087 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:09,090 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("addresses")
2020-02-02 23:58:09,094 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:09,101 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	st_id INTEGER,
	postal_add VARCHAR,
	email_add VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(st_id) REFERENCES students (id)
)


2020-02-02 23:58:09,106 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:09,123 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
#These tables are populated with data by executing insert() method of table objects. To insert 5 rows in students table:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

conn = engine.connect()
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn.execute(students.insert(), [
   {'name':'Ravi', 'lastname':'Kapoor'},
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2020-02-02 23:58:38,016 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:58:38,020 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:38,024 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-02 23:58:38,024 INFO sqlalchemy.engine.base.Engine ()
2020-02-02 23:58:38,034 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2020-02-02 23:58:38,041 INFO sqlalchemy.engine.base.Engine (('Ravi', 'Kapoor'), ('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2020-02-02 23:58:38,050 INFO sqlalchemy.engine.base.Engine COMMIT

In [49]:
#Rows are added in addresses table with the help of the following code
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()
conn = engine.connect()

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer), 
   Column('postal_add', String), 
   Column('email_add', String)
)

conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])

2020-02-03 00:00:53,670 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-03 00:00:53,671 INFO sqlalchemy.engine.base.Engine ()
2020-02-03 00:00:53,673 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-03 00:00:53,674 INFO sqlalchemy.engine.base.Engine ()
2020-02-03 00:00:53,677 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (st_id, postal_add, email_add) VALUES (?, ?, ?)
2020-02-03 00:00:53,677 INFO sqlalchemy.engine.base.Engine ((1, 'Shivajinagar Pune', 'ravi@gmail.com'), (1, 'ChurchGate Mumbai', 'kapoor@gmail.com'), (3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'), (5, 'MG Road Bangaluru', 'as@yahoo.com'), (2, 'Cannought Place new Delhi', 'admin@khanna.com'))
2020-02-03 00:00:53,680 INFO sqlalchemy.engine.base.Engine COMMIT

In [50]:
#Note that the st_id column in addresses table refers to id column in students table. We can now use this relation to fetch data from both the tables. We want to fetch name and lastname from students table corresponding to st_id in the addresses table.

from sqlalchemy.sql import select
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
    print (row)

2020-02-03 00:01:33,170 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname, addresses.id, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
2020-02-03 00:01:33,171 INFO sqlalchemy.engine.base.Engine ()
(1, 'Ravi', 'Kapoor', 1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Rajiv', 'Kapoor', 3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Abdul', 'Sattar', 4, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Ravi', 'Kapoor', 5, 2, 'Cannought Place new Delhi', 'admin@khanna.com')